# Python
**/__pycache__/
*.py[cod]

# Virtual Environment
backend/venv/
venv/

# Database
backend/*.db

# Uploads
backend/uploads/

# Node
frontend/node_modules/

# IDE
.vscode/
.idea/

# Environment
.env

# OS
.DS_Store
Thumbs.db