# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
Rupavathi/backend/venv/

# Node
node_modules/
Rupavathi/frontend/node_modules/

# Environment files
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db