/* ========================================= */
/* MAIN APPLICATION LAYOUT */
/* ========================================= */

.main-layout {
    min-height: 100vh;
    width: 100%;
}


/* ========================================= */
/* MAIN CONTENT */
/* ========================================= */

.main-layout-content {
    min-height: 100vh;

    margin-left: 265px;

    background: #f8fafc;
}


/* ========================================= */
/* RESPONSIVE */
/* ========================================= */

@media (max-width: 900px) {

    .main-layout-content {
        margin-left: 220px;
    }

}


@media (max-width: 650px) {

    .main-layout-content {
        margin-left: 70px;
    }

}