.container {
  width: 85%;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}


h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #1f2937;
}


/* Buttons */

button {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}


.create-btn {
  background-color: #2563eb;
  color: white;
  margin-bottom: 20px;
}


.edit-btn {
  background-color: #16a34a;
  color: white;
}


.submit-btn {
  background-color: #2563eb;
  color: white;
  width: 150px;
}




/* Table */

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}


th {
  background-color: #e5e7eb;
  padding: 14px;
  text-align: left;
}


td {
  padding: 14px;
  border-bottom: 1px solid #ddd;
}



tr:hover {
  background-color: #f9fafb;
}





/* Form */

.form-container {

  width: 500px;
  margin: auto;

}


label {

  font-weight: bold;

}



input,
textarea {

  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;

}



textarea {

  height: 120px;
  resize: none;

}



.form-group {

  margin-bottom: 20px;

}